body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.first-page {
    margin: 0;
    padding: 0;

    background-image: url("../images/homepage.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border: 1px solid rgb(158, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



.first-page button {
    background: #4F46E5;
    padding: 1%;
    border-radius: 18px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.first-page button:hover {
    background-color: wheat;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px black;
}

.box {
    display:none;
    background: #2E2F38;
    position: absolute;
    top: 20%;
    padding: 2%;
    height: auto; /* Auto height based on content */
    max-width: 90%; /* Maximum width of 90% of viewport width */
    border-radius: 14px;
    border: 1px solid #ccc; /* Add border style */
    opacity: 0px;
}


.box h2 {
    margin-left: 2%;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: left;
    color: #C7C8D1;

}

.box input{

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: left;
    color: #00010a;
}

.box img{
    margin-top: 3%;
    box-shadow: 0px black ;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.radio-btn {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
} 


.box .radio-btn:checked + .choice-image{
    border: 3px dotted yellow;
    border-radius: 50%;
    transform: scale(1.1);
}

.choice-image-label2{
    margin-left: 30%;
}
.choice-image-label1{
    margin-left: 1%;
}

.box button{
    background: #654AB5;
    padding: 2%;
    margin-top: 5%;
    width: 40%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* margin-left: 2%; */
    cursor: pointer;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
    color: #00010a;
}


.box button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;

}

           
.room-box{
    display: none;
    background: #2E2F38;
    position: absolute;
    top: 20%;
    padding: 2%;
    height: auto; /* Auto height based on content */
    max-width: 90%; /* Maximum width of 90% of viewport width */
    border-radius: 14px;
    border: 1px solid #ccc; /* Add border style */
    opacity: 0px;
}

.room-box h1{
    color: #C7C8D1;

}
.room-box label{
    color: #FFFFFF;
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 18.15px;
text-align: left;

}

.room-box input{
    margin-top: 2%;
    margin-bottom: 10%;
    padding: 2%;
    width: 90%;
}

.room-box button{
    padding: 3%;
    border-radius: 15px;
    margin-top: 20%;
    background: #654AB5;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: center;
width: 100%;

transition: transform 0.3s ease;
/* margin-left: 2%; */
cursor: pointer;

color: #C8BFFD;

}
.room-box button:hover{
 
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;   
}