{% load static %}
<div class="box" id="box">
    <form method="POST" action="">
        {% csrf_token %}
    <h2>Before you start...</h2>
    <input name="username" placeholder="Enter Username" type="text" required>
    <h2>Choose Avatar</h2><hr>
    <label class="choice-image-label1">
        <input type="radio" name="choice" value="male" class="radio-btn" checked>
        <img src="{% static 'images/male.png' %}" alt="male" class="choice-image">
    </label>
    <label class="choice-image-label2">
        <input type="radio" name="choice" value="female" class="radio-btn">
        <img src="{% static 'images/female.png' %}" alt="female" class="choice-image">
    </label>
    <button type="submit">Next</button>
    <button id="close-box"> Close</button>
    
</form>
</div>
