<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <style>
    ::-webkit-scrollbar {
        display: none;
    }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="flex flex-col bg-gray-700">
    <div x-data="app()" class="relative flex h-screen w-screen" >
    <!-- sidebar -->
    <div x-bind:class="{'block w-1/2 z-20 absolute h-full opacity-90 lg:relative lg:w-2/12':sidebar,'hidden':!sidebar}" class="overflow-auto bg-gray-900 h-auto w-2/12 lg:block" >
        <h1 class="sticky top-0 z-20 text-white font-bold text-xl lg:text-2xl text-center p-2 mt-4 mb-2 bg-gray-800">Total Members:X</h1>
    
        <h2 class="sticky top-20 z-20 text-white text-lg font-semibold text-center">Members</h2>
      
        <template x-for="(member,index) in members" :key="index">
            <!-- member div -->x-text="isLargeScreen"
            <div class="w-auto  overflow-auto h-auto flex items-center m-4 p-4 shadow hover:bg-black rounded-2xl cursor-pointer hover:shadow-md hover:shadow-blue-200">
                <img class="text-white rounded-full p-2 bg-yellow-300" src="images/member.svg" :alt="member">
                <p class="text-white text-xl ml-4" x-text="member"></p>

            </div>
        </template>
    </div>
    <!-- sidebar end -->
    
    <!-- main chat page -->
    <div x-data="mainchat()" @click="closeSidebar($event)" class=" w-full lg:w-11/12 relative z-10 ">
        <nav x-ref="navbar" class="text-cyan-50 flex justify-between items-center w-full bg-gray-900 border-b-2 border-black h-20 ">
           <div  @click="openSidebar()" class="flex m-2 cursor-pointer lg:cursor-text lg:pointer-events-none">
            <img class="mr-3 bg-yellow-100" src="images/member.svg" alt="Room Icon">
            <div class="flex flex-col">
            <h2>Room Name</h2>
            <p class="text-gray-400">Room ID</p>
            </div>
           </div> 
           <!-- share-exit -->
           <div class="flex m-4 overflow-auto">
            <img class="mr-2 cursor-pointer" src="images/share.svg" alt="share">
            <img class="mr-2 cursor-pointer" src="images/exit.svg" alt="exit">
            <img class="cursor-pointer" src="images/info.svg" alt="info">
           </div> 
        </nav>
        <!-- main page -->
        <main>
            <div class=" absolute top-1/3 left-1/3 transform -translate-x-1/3 -translate-y-1/3 text-2xl font-bold mt-3 ">
            <h1 class="w-full text-4xl font-bold mb-4 md:text-5xl">Hello Username..</h1>
                <h2 class="text-3xl text-gray-500 md:text-4xl">Rules</h2>
                <ul class="list-disc ">
                    <li>Lorem ipsum dolor sit amet con</li>
                    <li>Lorem ipsum dolor sit amet con</li>
                    <li>Lorem ipsum dolor sit amet con</li>
                    <li>Lorem ipsum dolor sit amet con</li>
                </ul>
            </div>   

        </main>

        <div class="w-full absolute bottom-0 flex p-2 border-transparent shadow-md shadow-blue-950 border-4 items-center">
            <textarea x-bind:style="{height:textAreaHeight}" x-on:input="updateHeight($event)"  class="max-h-36 h-full resize-none border  border-gray-300 rounded-md p-2 w-full focus:outline-none focus:border-blue-100 overflow-auto text-xl lg:text-2xl" placeholder="Send a message.."></textarea>
            <img class="w-12 m-3 cursor-pointer"  src="images/send.svg" alt="send"> 
        </div>  
    </div>
    <!-- main chat page end -->
</div>
    <script>

        function app(){

            return {
                members:['1','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj','dkjfdh','adkljfda','djkfhjkd','dhfdhgfhj'],
                sidebar:false,
                openSidebar(){
                    this.sidebar=true;
                },
                closeSidebar(e){
                    if(this.sidebar && !this.$refs.navbar.contains(e.target)){
                        this.sidebar=false;
                    }
                },
                
            }
        }
        function mainchat(){
            return {
                textAreaHeight:'70px',
                updateHeight(e){
                    console.log(e.target.scrollHeight);
                    if(e.target.scrollHeight===142){
                        this.textAreaHeight='70px';
                    }
                    else if(e.target.scrollHeight>75){
                        this.textAreaHeight=`${e.target.scrollHeight}px`;
                    }
                    console.log(`${e.target.scrollHeight}px`)
                },
                

            }
        }
    </script>
</body>
</html>