<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Room</title>
        <style>
    ::-webkit-scrollbar {
        display: none;
    }
    </style>
        <script src="https://cdn.tailwindcss.com"></script>
        <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="flex flex-col  bg-gray-900">
        <div x-data="app()" x-init="initialize()"
            class="relative flex p-2 w-screen h-screen">

            <!-- sidebar start -->
            <div
                x-bind:class="{'w-1/2 z-20 absolute h-full opacity-90 lg:relative lg:w-2/12 transition-all duration-300 ease-in-out':sidebar,'w-0 lg:w-2/12':!sidebar}"
                class="overflow-auto bg-gray-900 h-auto w-2/12 ">

                <h1
                    class="sticky top-0 z-20 text-white font-bold text-xl lg:text-2xl text-center p-2 mt-4 mb-2 bg-gray-800">Total
                    Members:X</h1>

                <h2
                    class="sticky top-20 z-20 text-white text-lg font-semibold text-center">Members</h2>

                <template x-for="(member,index) in members" :key="index">
                    <!-- member div -->
                    <div 
                    x-bind:class="{'bg-cyan-400 text-green-900 uppercase font-bold text-3xl hover:bg-gray-200 sticky bottom-5':parseInt(localStorage.getItem('memberid'))===member.memberid}"
                     class="w-auto text-white text-2xl overflow-auto h-auto flex items-center m-4 p-4 shadow hover:bg-black rounded-2xl cursor-pointer hover:shadow-md hover:shadow-blue-200">
                        <!-- <img class="text-white rounded-full p-4 bg-yellow-300" src="images/member.svg" :alt="member"> -->
                        <p x-text="member.name[0] "
                            class="text-black pl-3 pr-3 pt-1 rounded-full h-12 w-12 text-center bg-purple-300 text-4xl font-bold uppercase"></p>
                        <p class="ml-4"
                            x-text="member.name"></p>
                    </div>
                </template>
            </div>
            <!-- sidebar end -->

            <!-- main chat page -->
            <div @click="closeSidebar($event)"
                class=" w-full lg:w-10/12  h-full relative bg-gray-700">
                <nav x-ref="navbar"
                    class="text-cyan-50 flex justify-between items-center w-full  bg-gray-900 border-b-0 border-black h-20 ">
                    <div @click="openSidebar()"
                        class="flex m-2 cursor-pointer lg:cursor-text lg:pointer-events-none w-2/3 overflow-clip">
                        <img class="mr-3 bg-yellow-100" src="images/member.svg"
                            alt="Room Icon">
                        <div class="flex flex-col uppercase">
                            <h2 x-text="groupName">Room Name</h2>
                            <p x-text="groupId" class="text-gray-400">Room
                                ID</p>
                        </div>
                    </div>
                    <!-- share-exit -->
                    <div 
                        class="flex m-4 w-2/6 p-3 justify-end overflow-visible relative">
                        <img class="mr-2 cursor-pointer" src="images/share.svg"
                            alt="share">
                        <img x-on:mouseover="exitHover=true" x-on:mouseout="exitHover=false"  @click="exitGroup" class=" mr-2 cursor-pointer hover:bg-red-700 hover:rounded-full hover:p-2 transition-all ease-in-out duration-200" src="images/exit.svg"
                            alt="exit">
                        <p x-show="exitHover"
                        x-transition:enter="transition ease-out duration-250"
                        x-transition:enter-start="opacity-0 transform scale-90"
                        x-transition:enter-end="opacity-100 transform scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 transform scale-100"
                        x-transition:leave-end="opacity-0 transform scale-90"
                         class=" bg-white p-2 text-xs rounded-full font-mono font-semibold absolute -bottom-8 text-black">leave group</p>
                        
                         <img class="cursor-pointer" src="images/info.svg"
                            alt="info">
                    </div>
                </nav>
                <!-- main page -->
                <main x-ref="chatBox" class="w-full ml-2 h-5/6 overflow-auto lg:h-5/6 p-3">
                    <!-- message box -->
                    <template x-for="(message,index) in messages"  :key="index">
                        <div style="max-width: 70%;"
                            x-bind:class="{'ml-auto rounded-l-2xl rounded-tr-none bg-gray-400 text-yellow-400' : message.memberid===parseInt(localStorage.getItem('memberid'))};initialText=false;"
                            class="text-blue-500 leading-3 p-2 whitespace-pre-line rounded-r-2xl border-gray-600 shadow-md  shadow-blue-200 rounded-b-2xl  font-mono h-fit break-words mb-7 m-4 bg-gray-300  w-fit lg:max-w-fit ">
                            <h1 class="text-2xl uppercase font-bold m-0 " x-text="getMemberName(message.memberid)"></h1>
                            <p  class="text-black font-sans text-xl  m-0" x-text="message.content"></p>
                            <!-- this p tag is added only to scroll the div at end when a message added -->
                            <p x-effect="$refs.chatBox.scrollTop=$refs.chatBox.scrollHeight"></p> 
                            
                        </div>

                    </template>

                    <div x-show="initialText"
                        class="absolute top-1/3 left-1/3 transform -translate-x-1/3 -translate-y-1/3 mt-3 ">
                        <h1 x-text="`Hello ${getMemberName(parseInt(localStorage.getItem('memberid')))}`"
                            class="w-full text-4xl font-bold mb-4 md:text-5xl">Hello
                            Username..</h1>
                        <h2
                            class="text-3xl text-gray-500 md:text-4xl">Rules</h2>
                        <ul class="list-disc ">
                            <li>Lorem ipsum dolor sit amet con</li>
                            <li>Lorem ipsum dolor sit amet con</li>
                            <li>Lorem ipsum dolor sit amet con</li>
                            <li>Lorem ipsum dolor sit amet con</li>
                        </ul>
                    </div>

                </main>
                <div class="w-full absolute bottom-0 flex p-2  border-transparent shadow-lg shadow-blue-950 border-4 items-center" >
                    <textarea x-model="message"
                        x-bind:style="{height:textAreaHeight}"
                        x-on:input="updateHeight($event)"
                        class="max-h-36 h-full resize-none border mr-2  border-gray-300 rounded-md p-2 w-full focus:outline-none focus:border-blue-100 overflow-auto text-xl lg:text-2xl"
                        placeholder="Send a message.."></textarea>
                    <img @click="sendMessage()" class="w-12 cursor-pointer"
                        src="images/send.svg" alt="send">
                </div>

            </div>
            <!-- main chat page end -->
        </div>
        <script>

        function app(){

            return {
                ws:null,
                localDB:null,
                groupName:'Room Name',
                groupId:'Room ID',
                initialText:true,
                message:'',
                messages:[],
                members:[],
                sidebar:true,
                wsURL:'ws://localhost:8000/ws',
                textAreaHeight:'70px',
                exitHover:false,
            
                updateHeight(e){
                    if(e.target.scrollHeight===142){
                        this.textAreaHeight='70px';
                    }
                    else if(e.target.scrollHeight>75){
                        this.textAreaHeight=`${e.target.scrollHeight}px`;
                    }
                },

                openSidebar(){
                    this.sidebar=true;
                },
                closeSidebar(e){
                    if(this.sidebar && !this.$refs.navbar.contains(e.target)){
                        this.sidebar=false;
                    }
                },
                initialize(){
                    const memberid=localStorage.getItem("memberid");
                    if(memberid===null){
                        window.location.replace("/")
                    }
                    this.ws=new WebSocket(`${this.wsURL}?id=${memberid}`);
                    this.ws.onopen=(e)=>{
                        // console.log("Connected to ",this.wsURL);
                        const openReq=window.indexedDB.open('Messages',1);

                        openReq.onupgradeneeded=(event)=>{
                            this.localDB=event.target.result;
                            // console.log(this.localDB);
                            const objectStore=this.localDB.createObjectStore('message',{autoIncrement: true });
                        }
                        openReq.onsuccess=(event)=>{
                            this.localDB=event.target.result;
                            const transaction=this.localDB.transaction(['message'],'readonly');
                            const objectStore=transaction.objectStore('message');
                            const getAllReq=objectStore.getAll();
                            getAllReq.onsuccess=(e)=>{
                                const data=e.target.result;
                                this.messages=data;
                               
                                
                            }
                        }
                        openReq.onerror=(e)=>{
                            console.log(e.target.error);
                        }

                    }
                        
                    
                    this.ws.onmessage=(e)=>{
                        const data=JSON.parse(e.data);
                        if(data.error){
                            console.log(data);
                            localStorage.clear();
                            window.indexedDB.deleteDatabase("Messages")
                            window.location.replace("/")
                        }
                        else if(data.updateMemberInfo){
                            this.members=data.members;
                            this.groupId=data.groupId;
                            this.groupName=data.groupName;
                            console.log(data.members)

                        }
                        else{
                            const message={memberid:parseInt(data.memberid),content:data.content.trim()}
                            this.messages.push(message);
                            const transaction=this.localDB.transaction(['message'],'readwrite');
                            const objectStore=transaction.objectStore('message');
                            const addDataReq=objectStore.add(message);
                            addDataReq.onsuccess=(e)=>{
                                // console.log("MESSAGE ADDED SUCCESSFULLY!",e);
                            }
                        }

                    }

                    this.ws.onclose=(e)=>{
                        console.log("websocket closed!")    
                    }
                },
                sendMessage(){
                    if(this.message.trim()!=='' && this.ws!==null){
                        const memberid=localStorage.getItem("memberid");
                        this.ws.send(JSON.stringify({ 
                            memberid:memberid,
                            content:this.message,
                        }));
                        this.message='';
                        this.textAreaHeight='70px';
                        this.initialText=false;
                   

                    }
                },
                getMemberName(memberid){
                    let memberName=null;
                    for(let i=0;i<this.members.length;i++){
                        if(this.members[i].memberid===memberid){
                            memberName=this.members[i].name;
                            break;
                        }
                    }
                    if(!memberName){
                        return "anonmyous"
                    }
                    return memberName;
                    
                },
                exitGroup(){
                    const memberid=localStorage.getItem("memberid");
                    this.ws.send(
                        JSON.stringify({
                          memberid:memberid,
                          delete:true,
                        })
                    );

                    localStorage.clear();
                    window.indexedDB.deleteDatabase("Messages")
                    window.location.replace("/")

                },
        }
    }
    window.addEventListener("beforeunload",(e)=>{
        // this.localDB.close();
        // window.indexedDB.deleteDatabase("Messages")
        // localStorage.clear();
    });
    </script>
    </body>
</html>